{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>InvestPort</title>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

</head>
<body>
<nav class="nav-back-col">
    <div class="container-fluid nav-wrapper">
        <a href="/" class="brand-logo nav-move-name" style="font-family:Bradley Hand">INVESTPORT</a>
        <ul id="nav-mobile" class="right">
            {% if user.is_authenticated %}
            <li style="font-family:Bradley Hand"><a class="nav-item nav-link" href="{% url 'profile' %}">Profile</a></li>
            <li style="font-family:Bradley Hand"><a class="nav-item nav-link" href="{% url 'logout' %}">Logout</a></li>
            {% else %}
            <li style="font-family:Bradley Hand"><a class="nav-item nav-link" href="{% url 'login' %}">Login</a></li>
            <li style="font-family:Bradley Hand"><a class="nav-item nav-link" href="{% url 'register' %}">Register</a></li>
            {% endif %}
        </ul>
    </div>
</nav>

<style>
body {
  background-image: url('https://wallpaperaccess.com/full/143729.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
</style>

<div class="container-fluid">
    {% block content %}

    {% endblock content %}

</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</body>
</html>